body
{
	width:100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 12pt;
	font-family: 'core sans a 35 light','sans-serif';
	overflow: hidden;
}

div
{
	display: block;
}

#grid-container
{
	width:100%;
	height:59%;
	min-height:500px;
	background-color: #F0F0FA;
	border-bottom: 1px solid #88889C;
	box-shadow:inset 0 -2px 5px rgba(60,60,60,0.37);
	overflow: auto;
}

#grid-input
{
	width:100%;
	top:0;
	bottom:0;
	margin:0;
	z-index: 9;
}

div[data-role="console-panel"]  ul
{
	display:inline-block;
}

ul[data-role="submit-container"]
{
	float:right;
	margin-right:20px;
	margin-top:auto;
	top:0;
	bottom:0;
}


#grid, .grid
{
	display: block;
	margin:20px auto;
	padding: 0;
	border:1px solid ;
	left:0;
	right:0;
}

.row
{
	display:block;
}

.cell
{
	display: inline-block;
	width:32px;
	height:32px;
	border-right:1px solid #ACACC9;
	border-bottom:1px solid #ACACC9;
	text-align: center;
	font-size:10pt;
	color:#A0A0BB;
}

.cell:hover
{
	background-color:rgba(230,230,245,0.7);
}

#grid-input > div
{
	width:80%;
	height:85%;
	min-height: 250px;
	max-height: 500px;
	max-width: 700px;
	min-width: 420px;
	margin:16px auto;
	border-left:1px dashed #C6C6C6;
	border-right: 1px dashed #C6C6C6;
	padding-left:10px;
	padding-right:10px;
}

ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li
{
	margin-top:5px;
	margin-bottom: 5px;
}

button, input
{
	font-family: "core sans a 35 light";
}

button
{
	font-size:14pt;
	padding:5px 10px;
	margin:3px 3px;
	border-radius:12px 12px;
	border:1px solid #C3C3CA;
	background-color:#F2F2FF;
}

.github-float-panel
{
	position:fixed;
	float:right;
	margin-right:35px;
	margin-top:0;
	top:66px;
	bottom:0;
	right:0;
	font-size:15pt;
	color: #808080;
	width:150px;
	height:400px;
}

.github-float-panel iframe
{
	margin-top:5px;
}

#popup
{
	position: fixed;
	z-index: 9;
	width: 620px;
	height:450px;
	border:1px solid #888888;
	box-shadow:0 1px 3px black;
	background-color:white;
	margin:auto auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

#popup textarea
{
	margin:10px 10px;
	border:1px solid #888888;
	padding:10px 10px;
	overflow-x:none;
	overflow-y:auto;
	width:96%;
	left:0;
	right:0;
}

